body {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.square {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: xx-large;
    color: #ffffff;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;

    background-color: #151515;
    z-index: 99;
}

body::before {
    content: "";
    display: block;
    height: 50px;
}

table {
    width: 300px;
    height: 400px;

    text-align: center;

    padding: 8px;
    margin: 20px;
}

input {
    width: 70px;
    height: 70px;

    font-size: x-large;
    color: #ffffff;

    background-color: #333333;

    border: none;
    border-radius: 100%;

    outline: none;
}

.display {
    width: 250px;
    text-align: right;
    color: #ffffff;
    font-size: 50px;

    background: #000000;
    border-radius: 5px;
}

.operator {
    background-color: #f1a33b;
}

input:hover {
    background: #747373b9;
}

.display:hover {
    background: #000000;

}

.operator:hover {
    background: #cf8c35;
}

.operator:active {
    background: #a56f29;
}

.Function {
    color: #000000;
    background-color: #a5a5a5;
}
